body {
  background-image: url('https://cdn.midjourney.com/bebe6f38-cbd3-45c8-bc20-3484326e5c06/0_0.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
a:link {
  color: PaleTurquoise;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: PaleTurquoise;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: PaleTurquoise;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: MediumOrchid;
  background-color: transparent;
  text-decoration: underline;
}
